<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c0b7c0a1-bebe-4de2-a0da-41beec137f12/resourceGroups/projeto-integrador/providers/Microsoft.Web/sites/pharmacy-delivery</ResourceId>
    <ResourceGroup>projeto-integrador</ResourceGroup>
    <ApiResourceId>/subscriptions/c0b7c0a1-bebe-4de2-a0da-41beec137f12/resourceGroups/projeto-integrador/providers/Microsoft.ApiManagement/service/PharmacyDeliveryapi/apis/PharmacyDelivery</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pharmacy-delivery.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a5fd9f84-7c6a-4f90-9921-bf0eaf32b4de</ProjectGuid>
    <MSDeployServiceURL>pharmacy-delivery.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pharmacy-delivery</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$pharmacy-delivery</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>